<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.minis.lockmessagevideo.prefs</string>
	<key>CFBundleName</key>
	<string>锁屏背景视频</string>
	<key>CFBundleDisplayName</key>
	<string>锁屏背景视频</string>
	<key>NSPrincipalClass</key>
	<string>LMVPRootListController</string>
	<key>CFBundleExecutable</key>
	<string>LockMessageVideoPrefs</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.64</string>
	<key>CFBundleVersion</key>
	<string>0.0.64</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>filza</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>选择消息通知背景视频</string>
</dict>
</plist>
