Package: com.minis.lockmessagevideo
Name: 锁屏消息视频
Version: 0.0.9
Architecture: iphoneos-arm64
Description: 锁屏消息通知视频背景与诊断插件
Maintainer: Minis
Author: Minis
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
